.grid-container {
  margin: 2em;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  height: 300px;
  width: 300px;
}

.grid-square {
  border: 1px solid rgb(125, 125, 125);
}

.active {
  background-color: rgb(185, 185, 185);
}

.occupied {
  background-color: rgb(51, 153, 204);
}

.path {
  background-color: rgb(205, 205, 205);
}

.position {
  margin: 1em;
}

.active-occupied {
  background-color: red;
}

.btn-rotate {
  margin-top: 1em;
  font-size: 16px;
}

.label {
  display: flex;
  align-self: center;
  justify-content: center;
  border: none;
}